@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'ralewayregular', Arial, sans-serif;
}

.main-width {
  width:90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}

.logo {
  text-transform: uppercase;
  font-family: 'ralewaysemibold', Arial, sans-serif;
  line-height: 50px;
}

.logo span {
  color: #3CB490;
}

.dropdown-menu{
  position:relative;
  float: right;
}

.dropdown-menu li {
  display:inline-block;
  padding-left: 2em;
  text-transform: uppercase;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content li{
  padding: .2em 0 .2em;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
  width:100px;
  height: 100px;
}

.slider {
  height: 500px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(64%, rgba(246,246,246,1)), color-stop(100%, rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(224,224,224,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0 );
}
.slider-content {
  padding-top: 100px;
  display: inline-flex;
}

.slider-arrow-left, .slider-arrow-right {
  height: 400px;
  width: 50px;
  color: #3CB490;
  font-size: 80px;
  font-weight: bold;
  line-height: 400px;
  padding-left: 40px;
}


.slider-text {
  height: 400px;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}
.slider-text h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.slider-text span {
  color: #3CB490;
}

.slider-text p {
  text-align: center;
}

.button {
  width: 300px;
  height:50px;
  border-radius: 1em;
  margin: 0 auto;
  background-color: #3CB490;
  font-family: 'ralewaysemibold', Arial, sans-serif;;
  line-height: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  height: 400px;
}

.gallery-item__one, .gallery-item__two, .gallery-text {
  display: inline-block;
  padding-right: 60px;
  padding-top: 30px;
}

.gallery-text {
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid #bfb9bf;
  padding: 1em;
  font-size: 12px;
}

.gallery-text h3 {
  width: 150px;
}

.gallery-text p {
  color: #9e9c9e;
}

hr {
  border: 3px solid #3CB490;
}

/*Pricelist */

.priceList{
  height: 800px;
  background-color: #f6f6f6;
}
.priceList h3 {
  padding-top: 1.5em;
  width: 300px;
  text-transform: uppercase;
}

.priceList-item {
  width: 350px;
  height: 600px;
  margin-top: 40px;
  border: 2px solid #9e9c9e;
  position: relative;
  display: inline-block;
  float:left;
  margin-left: 1em;
}
.priceList-circle, .priceList-circle div {
  border: 2px solid #9e9c9e;
  border-radius: 50%;
}

.priceList-item__reverse
.priceList-circle,
.priceList-item__reverse
 .priceList-circle div {
  border: 2px solid #3CB490;
  border-radius: 50%;
}

.priceList-circle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .priceList-circle div {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #9e9c9e;
  }
  .priceList-item__reverse .priceList-circle {
    background-color: #3CB490;

  }
  .priceList-item__reverse .priceList-circle div {
    background-color: white;
  }

  .priceList-item__normal {
    background-color: white;
  }

  .priceList-item__reverse {
    background-color: #3CB490;
    border: 2px solid #3CB490;
  }

  .priceList-item__normal h3 {
    color: #3CB490;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
  }

  .priceList-item__reverse h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
  }

.price {
  width: 120px;
  height: 120px;
  border: 2px solid #9e9c9e;
  margin-top: 0;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.priceList-item__reverse .price{
  border: 2px solid #3CB490;
}

.price-nr {
  color: #9e9c9e;
  font-size: 40px;
  margin: .4em 0 .2em;
  text-align: center;
}

.price-nr sup {
  font-size: 15px;
}

 .price-month {
  color: #9e9c9e;
  font-size: 15px;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}

.service {
  margin-top: 200px;
}

.service p {
  width:350px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #a6a4a6;
}

.service-one {
  background-color: #d1d1d1;
}
.service-two {
  background-color: #ededed;
}
.service-three {
  background-color: white;
}

.priceList-item .button {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%)
}

.priceList-item__reverse .button {
  background-color: white;
  color: #3CB490;
}
